.card {
    width: 11rem;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient( #e7eaef, #c1cad6);
    color: var(--secondary);
    text-transform: uppercase;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 15px;
    transition: 0.3s;
}
.card:hover {
    color: var(--white);
    cursor: pointer;
    box-shadow: none;
    font-size: 0.8rem;
    background-color: #006EAB;
}

.icon {
    display: flex;
    justify-content: center;
}

@media (min-width: 1400px) {
    .card {
        width: 15rem;
        height: 12rem;
        font-size: var(--norm);
    }

    .card:hover {
        font-size: var(--norm);
    }

}