.wrapper {
    font-size: 16px;
    /* padding: 0 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.innerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    text-transform: uppercase;
    font-size: 1.3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.title:hover {
    text-decoration: none;
    color: #006EAB;
}
.parag {
    margin: 0;
    padding: 0;
}
.screen {
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.width40 {
    width: 40%;
}
.width60 {
    width: 60%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screenLeft {
    align-items: flex-start;
}
.screenRight {
    align-items: flex-end;
}
.screenInner {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    /* margin-bottom: 5%; */
    width: 30rem;
}
.screenMiddle {
    display: flex;
    justify-content: space-between;
}
.picture {
    /* width: 10%;
    height: 10%; */
    /* margin-left: 10%; */
}
.link {
    text-decoration: underline;
}
.link:hover {
    text-decoration: none;
    color: white;
}
.linearToLeft {
    background: linear-gradient(to left, transparent, #006EAB);
}
.linearToRight {
    background: linear-gradient(to right, transparent, #006EAB);
}
.backgroundColor {
    background-color: #006EAB;
}
.image {
    position: relative !important;
  object-fit: contain;
}