.wrapper {
    font-size: 16px;
    /* padding: 0 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.innerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    text-transform: uppercase;
    font-size: 1.3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.title:hover {
    text-decoration: none;
    color: #006EAB;
}
.parag {
    margin: 0;
    padding: 0;
}
.screen {
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.width40Lower {
    margin-bottom: 3rem;
    display: flex;
        flex-direction: column;
        justify-content: space-around;
    align-items: flex-end;
}
.screenWrapper {
    display: flex;
    min-height: 150%;
}
.width40Upper,.width40Lower {
    width: 40%;
    /* display: 'flex';
    align-items: 'flex-end';
    flex-direction: 'column';
    justify-content: 'flex-end'; */
}
.width60Upper,.width60Lower {
    width: 60%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}
.screenLeft {
    align-items: flex-start;
}
.screenRight {
    align-items: flex-end;
}
.screenInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    /* margin-bottom: 5%; */
    width: 30rem;
    height: 345px;
    /* border-radius: 1rem; */
}
.screenMiddle {
    display: flex;
    justify-content: space-between;
}
.link {
    text-decoration: underline;
    font-size: var(--l);
}
.link:hover {
    text-decoration: none;
    color: white;
}
.linearToLeft {
    background: linear-gradient(to left, #e7eaef, #006EAB);
}
.linearToRight {
    background: linear-gradient(to right, #e7eaef, #006EAB);
}
.backgroundColor {
    background-color: #006EAB;
}
.image {
    position: relative !important;
    object-fit: contain;
}

@media (min-width: 1400px) {
    .wrapper {
        padding: 0 5%;
    }
    .image {
        position: relative !important;
        object-fit: cover;
    }
    .width40Upper,.width40Lower {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .width60Upper {
        padding-left: 6%;
        padding-right: 0;
    }
    .width60Lower {
        padding-right: 6%;
        padding-left: 0;
    }
    .width40Lower {
        align-items: flex-end;
        margin-top: 3rem;
    }
    .width40Upper {
        margin-bottom: 3rem;
    }
    /* .linearToLeft {
        margin-bottom: 3rem;
    } */
    /* .width40Upper,.width40Lower {
        width: 40%;
        display: 'flex';
        align-items: 'flex-end';
        flex-direction: 'column';
        justify-content: 'flex-end';
    }
    .width40Upper {
        justify-content: 'space-between' !important;
    } */
}
