.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 15.85rem);   
    line-height: 1.8rem;
}
.title{
    font-size: var(--xxxl);
    text-align: center;
}
.innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.imageFlex {
    display: flex;
    justify-content: space-around;
    /* outline: 1px solid red; */
    width: 80%;
}

.renderArrowPrev, .renderArrowNext {
    background-color: black !important;
    color: black !important;
}
.imageWrapper {
    display: flex;
    outline: 1px solid red;
    min-height: 7rem;
    max-height: 60rem;
    /* min-width: 20rem; */
    /* position: relative; */
}
.image{
    width: 100% !important;
    position: relative !important;
    max-height: 100%;
    margin-bottom: 2rem;
}
.image > div{
    position: unset !important;
  
}
.waterHeading{
    font-size: var(--xl);
}
.waterLink{
    margin-left: 1rem;
    color: var(--main);
    text-decoration: underline;
}
.waterLink:hover {
    margin-left: 1rem;
    color: var(--gray);
    text-decoration: none;
}

.textWrapper {
    margin-left: 5rem;
    padding-right: 5rem;
}
.textWrapper p {
    font-size: var(--xl);
    text-indent: 1.3rem;
}


@media (min-width: 1400px) {
    .wrapper {
        /* min-height: calc(80vh - 16.85rem);   */
        min-height: calc(100vh - 16.85rem);  
    }

}