html,
body {
	margin: 0;
	padding: 0;	

	font-family: var(--font-family);
	font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

	color: var(--black);
	/* background-color: #F5F6F8; */
  background-image: url("/images/back4.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
	
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.control-arrow {
    /* background-color: black !important; */
    background: var(--main) !important;
	opacity: 0.5 !important;
}
.carousel {
	max-height: 480px;
	max-width: 850px;
}
ul {
	font-size: 1.3rem !important;
}

:root {
	--black: #3B434E;
	--gray: #99a1af;
	--gray-light: #ebebeb;
	--white: white;
	--primary: transparent;
	--secondary: #3A3A3A;
	--complementary: #af4100;
	--primary-hover: #5229f7;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--main: #006EAB;
	--font-family: 'Lato', sans-serif;
	--min: 0.9rem;
	--norm: 1rem;
	--m: 1.1rem;
	--l: 1.3rem;
	--xl: 1.5rem;
	--xxl: 1.8rem;
	--xxxl: 2rem;
}

@font-face {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Lato-Regular.woff") format("woff");
  }

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: #3A3A3A;
		background: black;
	}
}

@media (min-width: 1400px) {
    html,
	body {

		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
}