.bodyWrapper {
  padding-top: calc(17% - 10rem);
  display: grid;
  width: 100%;
  /* min-height: calc(100vh - 16.85rem); */
  /* outline: 2px solid blue; */
  grid-template-columns: 17% 66% 17%;
  grid-template-rows: auto;
  grid-template-areas: 
  "bodyLeft bodyCenter bodyRight";
  /* outline: 1px solid blue; */
  /* padding: 0 3rem; */
  
}

/* .carousel-root {
  min-width: 100%;
  outline: 1px solid red;
} */
.slideMain {
height: 350px;
display: flex;
justify-content: flex-end;
}
.bodyInner {
  display: flex;
  margin-bottom: calc(17% - 10rem);
  color: var(--secondary);
}
.bodyNews {
  width: 17%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
.textMain {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}
.text {
  text-align: justify;
  font-size: 1.1rem;
}
.bodyCompany {
  width: 83%;
  min-height: 100px;
  padding: 0 5%;
}
.newsTitle1 {
  font-size: 1rem;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.newsTitle1:hover {
  color: var(--main);
  text-decoration: underline;
}
.newsHeader:hover {
  color: var(--main);
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: calc(350px - 20rem);
  margin-bottom: calc(350px - 20rem);
}
.nepolnCard {
  margin-top: 60px;
}
.sliderText {
  max-width: 30%;
}
.image {
  position: relative;
  object-fit: cover;
  /* max-width: 65%; */
}
.bodyLeft {
  grid-area: bodyLeft;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}
.bodyCenter {
  grid-area: bodyCenter;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3)

}
.bodyRight {
  grid-area: bodyRight;
  /* width: 35%; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.newsTitle {
display: flex;
position: absolute;
bottom: 0;
width: 100%;
height: 4rem;
align-items: center;
justify-content: center;
color: var(--white);
background-color: rgba(0, 0, 0, 0.5);
font-weight: 600;
font-size: 0.8rem;
line-height: 1.5rem;
padding: 0 0.5rem;

text-transform: uppercase;
text-align: center;
/* margin-bottom: 5.5rem; */
}
.newsTitle:hover {
color: var(--gray-light);
background-color: #186fb1;
}





@media (min-width: 1400px) {
.bodyWrapper {
  padding-top: calc(17% - 15rem);
  /* grid-template-columns: 27.5vw auto; */
}


.slideMain {
  /* max-width: 39rem; */
  height: 32rem;
}
.bodyLeft,.bodyRight {
  padding-bottom: 2.5rem;

}
.cards {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
}